<header>
  <div class="pure-menu pure-menu-horizontal" id="navbar">
    <a href="{{ site.baseurl }}/" class="pure-menu-heading pure-menu-link" title="{{ site.description }}">{{ site.title }}</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="{{ site.baseurl }}/" class="pure-menu-link">主页</a></li>
      {% for page in site.pages %}
      {% if page.title %}
      <li class="pure-menu-item"><a href="{{ site.baseurl }}{{ page.url }}" class="pure-menu-link">{{ page.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</header>
